{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true
  },
  "ecmaFeatures": {
    "arrowFunctions": true,
    "blockBindings": true,
    "classes": true,
    "defaultParams": true,
    "destructuring": true,
    "forOf": true,
    "modules": true,
    "objectLiteralComputedProperties": true,
    "objectLiteralShorthandMethods": true,
    "objectLiteralShorthandProperties": true,
    "spread": true,
    "superInFunctions": true,
    "templateStrings": true,
    "unicodeCodePointEscapes": true,
    "jsx": true
  },
  "rules": {
    "strict": 0,
    "curly": 0,
    "quotes": [2, "single", "avoid-escape"],
    "semi": 2,
    "no-underscore-dangle": 0,
    "no-unused-vars": 2,
    "camelcase": [2, {"properties": "never"}],
    "new-cap": 0,
    "accessor-pairs": 0,
    "brace-style": [2, "1tbs"],
    "consistent-return": 2,
    "dot-location": [2, "property"],
    "dot-notation": 2,
    "eol-last": 2,
    "indent": [2, 2, {"SwitchCase": 1}],
    "no-bitwise": 0,
    "no-multi-spaces": 2,
    "no-shadow": 2,
    "no-unused-expressions": 2,
    "space-after-keywords": 2,
    "space-before-blocks": 2,
    "jsx-quotes": [1, "prefer-double"],
    "react/display-name": 0,
    "react/jsx-boolean-value": [2, "always"],
    "react/jsx-no-undef": 2,
    "react/jsx-sort-props": 0,
    "react/jsx-sort-prop-types": 0,
    "react/jsx-uses-react": 2,
    "react/jsx-uses-vars": 2,
    "react/no-did-mount-set-state": 2,
    "react/no-did-update-set-state": 2,
    "react/no-multi-comp": [2, {"ignoreStateless": true}],
    "react/no-unknown-property": 2,
    "react/prop-types": 1,
    "react/react-in-jsx-scope": 2,
    "react/self-closing-comp": 2,
    "react/sort-comp": 0,
    "react/wrap-multilines": [2, {"declaration": false, "assignment": false}]
  },
  "globals": {
    "inject": false,
    "module": false,
    "describe": false,
    "it": false,
    "before": false,
    "beforeEach": false,
    "after": false,
    "afterEach": false,
    "expect": false,
    "window": false,
    "document": false
  },
  "plugins": [
    "react"
  ]
}
