/* Pre Render
   ========================================================================== */
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.pre-render {
  background: rgba(255, 255, 255, .7);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  .spinner {
    width: 48px;
    height: 48px;
    border: 1px solid lighten($primary, 40%);
    border-left-color: darken($primary, 10%);
    border-radius: 50%;
    animation: spinner 700ms infinite linear;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -24px;
    margin-top: -24px;
  }
}

/* Thumbnail
   ========================================================================== */
.pswp-thumbnail {
  display: inline-block;
  width: 120px;
  height: 90px;
  margin: 0 10px 10px 0;
  cursor: pointer;
  img {
    max-width: 100%;
  }
}
